.details {
	outline: 2px solid rgba(100, 0, 0, 0.8);
	outline-offset: -3px;
}
.details__author {
	line-height: 24px;
	text-align: left;
	margin-left: 20px;
	color: @darkgrey;
}

.details__likes {
	font-weight: bold;

	&--icon {
		text-align: left;
		margin-left: 20px;
	}
}
