.page-photo {
	outline: 2px solid rgba(65, 100, 57, 0.8);
	outline-offset: -3px;

	&__title {
		font-size: 18px;
		text-transform: uppercase;
	}

	&__intro {
		line-height: 24px;
		text-transform: uppercase;
		color: @darkgrey;
	}
}
