.social {
	background-color: @white;
}

.social__title {
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
}

.social__list {
	list-style-type: none;
}

.social__item {
	background-color: @lightblue;
}
