.sublist {
	background-color: @white;

	&__item {
		outline: 2px solid rgba(65, 100, 57, 0.8);
		outline-offset: -3px;
		.set-color(@white);
	}

	&__title {
		font-size: 18px;
		line-height: 26px;
	}

	&__description {
		color: @darkgrey;
	}
}
